<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- begin header -->
      <h3 class="mt-2">{{ editing ? "Edit" : "Create" }} Tournament</h3>
      <!-- end header -->

      <!-- begin breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
          <li class="breadcrumb-item">
            <a [routerLink]="['/tournament', 'list']">My Tournaments</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ editing ? "Edit" : "Create" }} Tournament
          </li>
        </ol>
      </nav>
      <!-- end breadcrumb -->

      <!-- begin form -->
      <form #form="ngForm" (ngSubmit)="save(form)">
        <div class="form-group">
          <input type="hidden" name="id" [(ngModel)]="tournament._id" />
        </div>

        <!-- begin name field -->
        <div class="form-group">
          <label for="nameTextField">Name *</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="e.g. Tournament Y, Tournament Z"
            name="item"
            [(ngModel)]="tournament.name"
          />
        </div>

        <!-- name validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isNameValid">The name cannot be empty.</div>
        </div>
        <!-- end name validation -->

        <!-- end name -->

        <br />

        <!-- begin description field -->
        <div class="form-group">
          <label for="descTextField">Description</label>
          <textarea
            type="text"
            class="form-control"
            id="descTextField"
            placeholder="e.g. it is a soccer competition where the players confront each other only once."
            name="description"
            [(ngModel)]="tournament.description"
          >
          </textarea>
        </div>
        <!-- end description -->
        <br />
        <!-- begin participants -->
        <!-- participants control -->
        <div class="form-group mb-4">
          <button
            type="button"
            [hidden]="isReadOnly"
            (click)="addParticipant()"
            class="btn btn-primary btn-sm float-end"
            [class.disabled]="isDisabled"
          >
            Add Participant(s)
          </button>
          <h3>Participants</h3>
        </div>
        <!-- end participants control -->

        <!-- list of participants -->
        <div class="row">
          <div
            class="col-sm-6"
            *ngFor="let participant of tournament.participants; let i = index"
          >
            <div class="input-group mb-2">
              <span class="input-group-text text-sm"> #{{ i + 1 }} </span>
              <input
                type="text"
                class="form-control"
                placeholder="e.g. Peeter, Richard, Behnaz, Lucas"
                required
                (keypress)="$event.preventDefault()"
                (blur)="saveParticipant(i, $event)"
                [value]="participant.name"
              />
              <button
                tabindex="-1"
                *ngIf="!isReadOnly"
                (click)="removeParticipant(i)"
                class="btn btn-danger"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- end list of participants -->

        <!-- participants validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isParticipantValid">
            The number of participants must be multiple of 8 and the names
            cannot be empty.
          </div>
        </div>
        <!-- end participants validation -->

        <!-- end participants -->
        <br />
        <!-- start date field -->
        <div class="form-group">
          <label for="startedAtTextField">Start Date</label>
          <input
            type="date"
            class="form-control"
            id="startedAtTextField"
            name="startedAt"
            [(ngModel)]="tournament.startedAt"
            required
          />
        </div>

        <!-- start date validation -->
        <div *ngIf="isSubmitted" class="text-danger">
          <div [hidden]="isStartDateValid">
            The start date must be grater or equals to than today's date.
          </div>
        </div>
        <!-- end start date validation -->

        <!-- end start date -->
        <br />

        <!-- completed field -->
        <div class="form-check">
          <input
            type="checkbox"
            id="completed"
            name="completed"
            class="form-check-input"
            [(ngModel)]="tournament.completed"
          />
          <label class="form-check-label" for="completed"> Completed </label>
        </div>
        <!-- end completed -->

        <!-- deleted field -->
        <div class="form-check">
          <input
            type="checkbox"
            id="deleted"
            name="deleted"
            class="form-check-input"
            [(ngModel)]="tournament.deleted"
          />
          <label class="form-check-label" for="deleted"> Hidden </label>
        </div>
        <!-- end deleted -->

        <br />

        <!-- begin actions -->
        <button class="btn btn-primary">
          <i class="fa-solid fa-pen-to-square"></i>
          Submit
        </button>
        <span>&nbsp;</span>
        <a [routerLink]="['/tournament', 'list']" class="btn btn-secondary">
          <i class="fa-solid fa-rotate-left"></i>
          Cancel
        </a>
        <!-- end actions -->
      </form>
      <!-- end form -->
    </div>
  </div>
</div>
