<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- begin header -->
      <div class="mt-2">
        <a
          [routerLink]="['/tournament', 'add']"
          class="btn btn-primary btn-sm float-end"
        >
          Create new Tournament
        </a>
        <h3>My Tournaments</h3>
      </div>
      <!-- end header -->

      <!-- begin breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            My Tournaments
          </li>
        </ol>
      </nav>
      <!-- end breadcrumb -->

      <p class="placeholder-glow" *ngIf="!this.repository.listReady">
        <span class="placeholder col-12"></span>
      </p>

      <!-- begin list tournament -->
      <div class="table-responsive" *ngIf="this.repository.listReady">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-center"></th>
              <th>Name</th>
              <th class="text-center">No. of players</th>
              <th class="text-center">Start Date</th>
              <th class="text-center" colspan="3">Actions</th>
            </tr>
          </thead>

          <tbody>
            <!-- TODO: it should list only the tournaments of the user -->
            <!-- TODO: set some content when there is no tournament -->
            <tr *ngFor="let item of tournamentList; let i = index">
              <td class="text-center">#{{ i + 1 }}</td>
              <td>{{ item.name }}</td>
              <td class="text-center">{{ item.participants?.length }}</td>
              <td class="text-center">{{ item.startedAt }}</td>
              <td class="text-center">
                <button
                  [routerLink]="['/tournament', 'view', item._id]"
                  class="btn bg-secondary btn-primary btn-sm"
                >
                  <i class="fas fa-folder-tree"></i>
                </button>
              </td>
              <td class="text-center">
                <button
                  [routerLink]="['/tournament', 'edit', item._id]"
                  class="btn bg-primary btn-primary btn-sm"
                >
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </td>
              <td class="text-center">
                <button
                  (click)="deleteMethod(item._id)"
                  class="btn bg-danger btn-danger btn-sm"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end list tournament -->
    </div>
  </div>
</div>
