<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- begin header -->
      <div class="mt-2">
        <!-- TODO: this button cannot exist if you are not the owner of the tournament -->
        <button
          *ngIf="isOwner && !tournament.completed"
          (click)="saveTournament()"
          class="btn btn-primary btn-sm float-end"
        >
          <i class="fa-solid fa-pen-to-square"></i>
          Save Changes
        </button>
        <button
          *ngIf="tournament.completed"
          (click)="viewSummary()"
          class="btn btn-primary btn-sm float-end"
        >
          View Summary
        </button>
        <h3 class="mt-2">{{ tournament.name }}</h3>
      </div>
      <!-- end header -->

      <!-- begin breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="'/'">Home</a></li>
          <li class="breadcrumb-item" *ngIf="isOwner">
            <a [routerLink]="['/tournament', 'list']">My Tournaments</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{ tournament.name }}
          </li>
        </ol>
      </nav>
      <!-- end breadcrumb -->
    </div>

    <!-- begin bracket component -->
    <div class="col-12">
      <app-bracket
        [readonly]="isReadOnly"
        [rounds]="tournament.rounds"
        [participants]="tournament.participants"
      ></app-bracket>
    </div>
    <!-- end bracket component -->

    <!-- begin alert -->
    <app-alert
      [tournament]="tournament"
      [visible]="visible"
      (close)="onClose($event)"
    ></app-alert>
    <!-- end alert -->
  </div>
</div>
