<app-header [title]="title"></app-header>

<div class="container-fluid">
  <h1 class="text-center">{{ title }}</h1>
  <div class="d-flex justify-content-center">
    <hr class="border border-dark border-2 opacity-50 w-25" />
  </div>

  <div class="container d-flex justify-content-center">
    <div class="card w-75">
      <h3 class="card-header">Simplify Tournament Management</h3>
      <div class="card-body text-center">
        <h5 class="card-title">Join the millions who trust Tournament to manage their games</h5>
        <p class="card-text">
          Try our <a routerLink="/tournament/add">Tournament Generator</a>
        </p>
      </div>
    </div>
  </div>

  <br />
  <app-tournament-list></app-tournament-list>
</div>

<app-footer></app-footer>
