<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- begin header -->
      <div class="mt-2">
        <a
          [routerLink]="['/tournament', 'add']"
          class="btn btn-primary btn-sm float-end"
        >
          Create new Tournament
        </a>
        <h3>Ongoing Tournaments</h3>
      </div>
      <!-- end header -->

      <br />

      <!-- begin loading -->
      <loading-placeholder
        *ngIf="!this.repository.listReady"
      ></loading-placeholder>
      <!-- end loading -->

      <!-- begin no record found -->
      <no-record-placeholder
        *ngIf="this.repository.listReady && tournamentList.length === 0"
      ></no-record-placeholder>
      <!-- end no record found -->

      <!-- begin list of tournaments -->
      <div class="row" *ngIf="this.repository.listReady">
        <div
          class="col-sm-6 col-md-4 col-lg-3"
          *ngFor="let item of tournamentList"
        >
          <a
            class="tournament"
            [routerLink]="['/tournament', 'view', item._id]"
          >
            <div class="name">
              <i *ngIf="!item.completed" class="fas fa-light fa-square"></i>
              <i
                *ngIf="item.completed"
                class="fas fa-light fa-square-check"
              ></i>
              {{ item.name }}
            </div>
            <div class="information">
              <div class="participants">
                <i class="fas fa-users"></i> {{ item.participants?.length }}
              </div>
              <div class="date">
                <i class="fas fa-calendar"></i> {{ item.startedAt }}
              </div>
            </div>
          </a>
        </div>
      </div>
      <!-- end list of tournaments -->
    </div>
  </div>
</div>
