<nav class="navbar navbar-expand">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/img/BLPRS.svg" height="40" />
    </a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          *ngIf="
            title === 'Tournament List' || title === 'Create new Tournament';
            else deactiveList
          "
          class="nav-link active dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
        >
          <i class="fa-solid fa-chess-clock-flip"></i> Tournament
        </a>

        <ng-template #deactiveList>
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          >
            <i class="fa-solid fa-chess-clock-flip"></i> Tournament
          </a>
        </ng-template>

        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" [routerLink]="['tournament', 'list']">
              <i class="fa-regular fa-rectangle-list"></i>
              Tournament List
            </a>
          </li>
          <li>
            <a class="dropdown-item" [routerLink]="['tournament', 'add']">
              <i class="fa-solid fa-square-plus"></i>
              Create a new Tournament
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          *ngIf="auth.authenticated"
          class="nav-link"
          [class.active]="title == 'Profile'"
          [routerLink]="['/my-profile', 'my-profile']"
          >Profile</a
        >
      </li>
      <li class="nav-item">
        <a *ngIf="auth.authenticated" class="nav-link" routerLink="" (click)="logout()">
          Sign Out ({{ auth.username }})
        </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!auth.authenticated" class="nav-link" [routerLink]="['auth', 'login']"> Sign In </a>
      </li>
      <li class="nav-item">
        <a *ngIf="!auth.authenticated" class="nav-link" [routerLink]="['auth', 'register']"> Sign Up </a>
      </li>
    </ul>
  </div>
</nav>
