<div class="container">
  <div class="row">
    <div class="col-12">
      <!-- begin header -->
      <h3 class="mt-2">My Profile</h3>
      <!-- end header -->

      <!-- begin breadcrumb -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="'/'">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">My Profile</li>
        </ol>
      </nav>
      <!-- end breadcrumb -->
    </div>

    <div class="form">
      <!-- begin error message -->
      <feedback-message [message]="message" [error]="true"></feedback-message>
      <!-- end error message -->

      <!-- begin loading -->
      <loading-placeholder
        *ngIf="!this.repository.profileReady"
      ></loading-placeholder>
      <!-- end loading -->

      <!-- begin profile form -->
      <form
        novalidate
        #form="ngForm"
        *ngIf="this.repository.profileReady && userProfile"
        (ngSubmit)="save(form)"
      >
        <div class="row">
          <!-- begin first name -->
          <div class="col col-sm-6">
            <div class="form-group mb-2">
              <label for="firstName" class="form-label"> First Name </label>
              <input
                type="text"
                class="form-control"
                [disabled]="!isEditing"
                id="firstName"
                name="firstName"
                required
                placeholder="e.g. Behnaz, Peeter"
                [(ngModel)]="user.firstName"
              />
            </div>
          </div>
          <!-- end first name -->
          <!-- begin last name -->
          <div class="col col-sm-6">
            <div class="form-group mb-2">
              <label for="lastName" class="form-label"> Last Name </label>
              <input
                type="text"
                class="form-control"
                [disabled]="!isEditing"
                id="lastName"
                name="lastName"
                required
                placeholder="e.g. Behnaz, Peeter"
                [(ngModel)]="user.lastName"
              />
            </div>
          </div>
          <!-- end last name -->
          <!-- begin email -->
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="email" class="form-label"> Email </label>
              <input
                type="email"
                class="form-control"
                [disabled]="!isEditing"
                id="email"
                name="email"
                required
                placeholder="e.g. behnaz@gmail.com"
                [(ngModel)]="user.email"
              />
            </div>
          </div>
          <!-- end email -->
          <!-- begin username -->
          <div class="col-12">
            <div class="form-group mb-2">
              <label for="username" class="form-label"> Username </label>
              <input
                type="text"
                class="form-control"
                [disabled]="!isEditing"
                id="username"
                name="username"
                required
                placeholder="e.g. lucas1, richard3"
                [(ngModel)]="user.username"
              />
            </div>
          </div>
          <!-- end username -->
          <!-- begin password -->
          <div class="col-12">
            <div class="form-group">
              <label for="password" class="form-label"> Password </label>
              <div class="input-group mb-3">
                <input
                  [type]="passwordType"
                  class="form-control"
                  [disabled]="!isEditing"
                  id="password"
                  name="password"
                  required
                  placeholder="e.g. abDe12%3"
                  [(ngModel)]="user.password"
                />
                <span class="input-group-text" (click)="togglePassword()">
                  <i
                    class="fas"
                    [class.fa-eye]="!isPasswordVisible"
                    [class.fa-eye-slash]="isPasswordVisible"
                  ></i>
                </span>
              </div>
            </div>
          </div>
          <!-- end password -->
          <!-- begin form controls -->
          <div class="col-12">
            <button
              class="btn btn-primary"
              type="button"
              *ngIf="!isEditing"
              (click)="toggleEditMode()"
            >
              <i class="fa-regular fa-pen-to-square"></i>
              Edit
            </button>
            <span>&nbsp;</span>
            <button class="btn btn-success" type="submit" *ngIf="isEditing">
              <i class="fa-solid fa-pen-to-square"></i>
              Update Information
            </button>
            <span>&nbsp;</span>
            <button
              class="btn btn-secondary"
              type="button"
              *ngIf="isEditing"
              (click)="toggleEditMode()"
            >
              <i class="fa-solid fa-rotate-left"></i>
              Cancel
            </button>
          </div>
          <!-- end form controls -->
        </div>
      </form>
      <!-- end profile form -->
    </div>
  </div>
</div>
