@import "../../../styles/variables";

.section-auth {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #1e1e1e;
  padding: $default-distance * 2;

  .auth-container {
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 750px;
    position: absolute;
    border-radius: $border-radius;
    padding: $default-distance * 2;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);

    & > .brand {
      height: 50px;

      a,
      img {
        height: inherit;
      }
    }

    & > .form {
      width: 100%;

      & > .greeting {
        font-size: $font-size * 1;
        margin-top: $default-distance * 2;
      }

      & > form {
        margin-top: $default-distance * 2;

        & > button {
          margin: $default-distance * 1 0;
        }
      }

      & > .footnote {
        text-align: center;
        margin-top: $default-distance * 1;

        span {
          margin-right: $default-distance * 0.25;
        }

        a {
          font-weight: 700;
          text-decoration: none;
        }
      }
    }

    & > .illustration {
      top: 50%;
      left: 50%;
      z-index: -1;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }
}

@media (min-width: 576px) {
  .section-auth {
    padding: 0;

    .auth-container {
      & > .form {
        width: 50%;
      }

      & > .illustration {
        left: initial;
        transform: translateY(-50%);
        right: $default-distance * 1;

        & > img {
          width: 400px;
        }
      }
    }
  }
}
