<div class="loading-placeholder">
  <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <!-- <div class="row" *ngIf="!indicator">
    <div
      class="col-sm-6 col-md-4 col-lg-3"
      *ngFor="let _ of [].constructor(12)"
    >
      <div class="card mb-4 border-0" aria-hidden="true">
        <div class="card-body">
          <h5 class="card-title placeholder-wave">
            <span class="placeholder placeholder-md col-8"></span>
          </h5>
          <div class="card-text placeholder-wave">
            <span class="placeholder placeholder-sm col-4"></span>
            <span class="offset-5"></span>
            <span class="placeholder placeholder-sm col-3"></span>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
